.nav_container {
  font-family: "Iceberg", cursive;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
  z-index: 50;
  background-color: transparent;

  transition: all .5s ease-in-out;

  .box {
    display: flex;
    gap: 1rem;
    align-items: center;

    nav {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: 1.4rem;

      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.55);
        &:hover {
          color: rgba(0, 0, 0, 0.7);
        }
        &:focus-visible {
          color: red;
        }
      }
      .activesec {
        color: rgba(0, 0, 0, 0.9);
      }
    }
    .btns {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}
