.hero_container {
  background: url("../../../assets/download.jpg");
  font-family: "Iceberg", cursive;
  position: relative;
  height: 100vh;
  z-index: -1;

  .b1 {
    position: absolute;
    height: 550px;
    bottom: -5%;
    left: -7%;
    z-index: 5;
  }
  .b2 {
    position: absolute;
    height: 500px;
    bottom: -7%;
    left: 13%;
    z-index: 4;
  }
  .b3 {
    position: absolute;
    height: 550px;
    bottom: -5%;
    right: -7%;
    z-index: 5;
    transform: scaleX(-1);
  }
  .b4 {
    position: absolute;
    height: 500px;
    bottom: -7%;
    right: 13%;
    z-index: 4;
    transform: scaleX(-1);
  }
  .tree {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 5rem;
    * {
      z-index: 10;
    }

    img {
      width: 700px;
    }
    .btns {
      font-size: 2rem;
      display: flex;
      gap: 3rem;
      a {
        text-decoration: none;
        color: white;
        background: url("../../../assets/brush.png");
        padding: 1.5rem 4rem;
        background-size: 100% 100%;
        background-origin: padding-box;
        background-position: 50%;
        background-repeat: no-repeat;

        &:hover {
          color: red;
        }
      }
    }
  }
}
