@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@font-face {
  font-family: "neverj";
  src: local("never"), url("./assets/never.ttf") format("truetype");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  .MuiDialog-paper{
    background-color: black;
    color: white;
    border: 2px solid #bf393a;
    width: 60%;

    .MuiDialogContent-root{
      overflow-y: unset;
    }
    .greenbtn{
      color: green;
    }


  }
  .content_textarea{
    width: -webkit-fill-available;
    font-size: 1.3rem;
    padding: 1rem;
    height: 150px;
    background-color: black;
    color: white;
  }
}